POSTGRES_USER=USER_EXAMPLE
POSTGRES_PASSWORD=PASSWORD_EXAMPLE
POSTGRES_DB=DB_EXAMPLE
DATABASE_URL=postgresql://USER_EXAMPLE:PASSWORD_EXAMPLE@db:5432/DB_EXAMPLE?schema=public
PORT=3000
ADMIN_USERNAME= ADMIN_USERNAME_EXAMPLE
ADMIN_PASSWORD=ADMIN_PASSWORD_EXAMPLE
TOKEN_SECRET_KEY=SOME_KEY
COOKIE_SECRET=SOME_COOKIE-SECRET

OS_AUTH_URL=https://api.pub1.infomaniak.cloud/identity
OS_CONTAINER_URL=https://s3.pub2.infomaniak.cloud/object/v1/AUTH_EXAMPLE
OS_USERNAME=OS_USERNAME_EXAMPLE
OS_PASSWORD=OS_PASSWORD_EXAMPLE
OS_DOMAIN_NAME=OS_DOMAIN_NAME_EXAMPLE
OS_DOMAIN_ID=OS_DOMAIN_ID_EXAMPLE
OS_SCOPE_ID=OS_SCOPE_ID_EXAMPLE
OS_TENANT_ID=OS_TENANT_ID_EXAMPLE
OS_REGION=OS_REGION_EXAMPLE
OS_SECRET=OS_SECRET_EXAMPLE
OS_IMAGES_CONTAINER_NAME=IMAGES

EMAILJS_PUBLIC_KEY=EXAMPLE_PUBLIC_KEY
EMAILJS_PRIVATE_KEY=EXAMPLE_PRIVATE_KEY
EMAILJS_SERVICE_ID=EXAMPLE_SERVICE
EMAILJS_TEMPLATE_ID=EXAMPLE_TEMPLATE